/* https://colorhunt.co/palette/222831393e4600adb5eeeeee */
/* https://colorhunt.co/palette/1534483c5b6f948979dfd0b8 */
:root {
  --main-color: #222831;
  --sub-color: #eeeeee;
  --board-color: #ffc96f;
  --line-color: #222831;
  --hover-color: #028391;
  --black-color: #222831;
  --white-color: #fefefe;
  --warn-color: #ff2e63;
  --app-width: 580px;
  --navbar-height: 30px;
  --default-padding: 4px;
}

body {
  margin: 0;
  flex-direction: column;
  color: var(--main-color);
  background-color: var(--sub-color);
}

.fixed-contents {
  position: sticky;
  top: calc(var(--navbar-height) + var(--default-padding) * 3);
}

.navbar {
  display: flex;
  padding: var(--default-padding);
  margin: 0 auto;
  background-color: var(--main-color);
  color: var(--sub-color);
  align-items: center;
  position: sticky;
  top: 0;
  height: var(--navbar-height);
}

.navbar a {
  text-decoration: none;
  color: inherit;
}

.navbar h2 {
  font-weight: 100;
  margin-block-start: 0;
  margin-block-end: 0;
  text-decoration: underline;
}

.container {
  display: flex;
}

.rootlayout {
  margin: 0 auto;
  width: var(--app-width);
  padding: var(--default-padding);
  box-sizing: border-box;
}

.goban-container {
  display: flex;
  justify-content: center;
}

.goban {
  line-height: 0;
  border-spacing: 0;
}

.goban td {
  padding: 0;
}

.goban-tile-cursor {
  cursor: pointer;
}

.goban-tile-cursor:hover {
  outline: 1px solid var(--hover-color);
}

.goban-tile {
  cursor: default;
}

.goban-tile:hover {
  outline: 1px solid var(--hover-color);
}

.login-form {
  margin: 0 auto;
}

.login-form h3 {
  margin-block-start: 0;
  margin-block-end: 0;
}

.login-form span {
  color: var(--warn-color);
}

.login-form-inputtext {
  margin-top: 5px;
  font-size: medium;
  width: 98%;
}

.login-form-inputsubmit {
  margin-top: 5px;
  text-align: center;
}

.login-form-container {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 70px;
}

.login-form-outline {
  outline: solid;
  outline-width: 1px;
  outline-color: var(--main-color);
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  width: 80%;
  background-color: var(--white-color);
}

.home-content {
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 5px;
  height: 80px;
  border: 1px solid var(--main-color);
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--white-color);
}

.home-content-description {
  position: absolute;
  font-size: small;
}

.home-content-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.home-content-title {
  font-size: large;
}

.home-content-matches-title {
  margin-top: 15px;
  text-decoration: underline;
  margin-bottom: 5px;
}

.home-content-matchinfo-wrapper {
  padding: 6px;
}

.home-content-matchinfo-open {
  cursor: pointer;
  height: 60px;
  outline: solid;
  outline-color: var(--hover-color);
  outline-width: 2px;
  background-color: var(--white-color);
}

.home-content-matchinfo-progress {
  cursor: pointer;
  height: 60px;
  outline: solid;
  outline-color: var(--warn-color);
  outline-width: 2px;
  background-color: var(--white-color);
}

.home-content-matchinfo-timestamp {
  font-size: x-small;
  position: absolute;
}

.home-content-matchinfo-title {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  height: 100%;
  width: 100%;
}

.home-content-matchinfo-player {
  flex-grow: 1;
  text-align: center;
  max-width: 25%;
  font-weight: 600;
}

.home-content-matchinfo-vs {
  font-size: small;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.home-content-matchinfo-player-open {
  font-weight: 600;
}

.home-content-matchinfo-button {
  position: absolute;
  right: 0;
  margin-top: 6px;
  margin-right: 15px;
}

.home-content-standard-message {
  margin: 20px;
  text-align: center;
}

.match-player-names {
  margin-top: 6px;
  margin-bottom: 6px;
  display: flex;
  justify-content: space-between;
}

.match-player-names h3 {
  margin: 0;
  margin-left: 2px;
  margin-right: 2px;
  font-family: "Times New Roman", Times, serif;
  font-size: x-large;
}

.match-player-name-content {
  display: flex;
  align-items: flex-end;
}

.match-functions {
  display: flex;
  justify-content: center;
}

.match-function-small {
  margin: 2px;
  margin-top: 6px;
  width: 25%;
  height: 80px;
}

.match-function-large {
  margin: 2px;
  margin-top: 6px;
  width: 50%;
  height: 80px;
}

.match-function-next-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: var(--white-color);
  background-clip: padding-box;
  border: 1px solid var(--main-color);
  border-radius: 5px;
}

.match-function-next {
  margin-left: 6px;
  position: absolute;
}

.match-function-measure {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: var(--hover-color);
  color: var(--sub-color);
  cursor: pointer;
  border: 1px solid var(--main-color);
  border-radius: 5px;
}

.match-function-surrender {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: var(--warn-color);
  color: var(--sub-color);
  cursor: pointer;
  border: 1px solid var(--main-color);
  border-radius: 5px;
}
