/* https://colorhunt.co/palette/222831393e4600adb5eeeeee */
/* https://colorhunt.co/palette/1534483c5b6f948979dfd0b8 */
:root {
  --main-color: #222831;
  --sub-color: #eeeeee;
  --black-color: #153448;
  --semi-black-color: #3c5b6f;
  --semi-white-color: #948979;
  --white-color: #dfd0b8;
}

body {
  margin: 0;
  color: var(--main-color);
  background-color: var(--sub-color);
  display: flex;
}

.rootlayout {
  margin: 0 auto;
  width: 800px;
  min-height: 100vh;
  padding: 5px;
}

.navbar > h3 {
  font-weight: 100;
  margin-block-start: 0;
  margin-block-end: 0;
  text-decoration: underline;
}
