/* https://colorhunt.co/palette/222831393e4600adb5eeeeee */
/* https://colorhunt.co/palette/1534483c5b6f948979dfd0b8 */
:root {
  --main-color: #222831;
  --sub-color: #eeeeee;
  --board-color: #ffc96f;
  --line-color: #222831;
  --hover-color: #028391;
  --app-width: 800px;
}

body {
  margin: 0;
  color: var(--main-color);
  background-color: var(--sub-color);
  display: flex;
}

.rootlayout {
  margin: 0 auto;
  width: var(--app-width);
  min-height: 100vh;
  padding: 5px;
}

.navbar h2 {
  font-weight: 100;
  margin-block-start: 0;
  margin-block-end: 0;
  text-decoration: underline;
}

.goban-container {
  display: flex;
  justify-content: center;
}

.goban {
  line-height: 0;
  border-spacing: 0;
}

.goban td {
  padding: 0;
}

.goban-tile:hover {
  outline: 2px solid var(--hover-color);
}
